#### Part B - 結構穩定檔 (使用 Pandas)
用 pandas 處理類似 csv，想像是 Python 的 excel：

- **Read (R)**
    - 使用 `read_csv()` 讀入
    - 查看頭幾行、特定欄位、特定列、特定欄列
    - 用 `loc`, `iloc`

- **Advanced Read**
    - 向量化篩選 (`df[df["phase_type"] == "P"]`)
    - 以欄位排序、條件排序 (不改動資料)

In [4]:
# 讀取csv
import pandas as pd
from pathlib import Path

test_csv = Path('/home/patrick/Work/Python3_12_Tutorial/dataset/pickings.csv')

df = pd.read_csv(test_csv)
df.head(5)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650
3,SM02,7480366.0,2024-04-03T20:46:45.300000,0.432,S,0.01,693.5,2435,0.002426
4,SM09,7480487.0,2024-04-03T20:46:45.360000,0.673,S,0.01,1459.0,2435,0.001014

In [6]:
#用slice查看特定欄

specific_cols = ['station_id', 'phase_time']

df[specific_cols].head(2)

  station_id                  phase_time
0       HOPB  2024-04-03T20:46:44.383000
1       EGFH  2024-04-03T20:46:44.920000

In [11]:
#用loc查看特定列

specific_rows_idx = [2, 5]

df.loc[specific_rows_idx] # 第2, 5行

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650
5,HOPB,7482565.0,2024-04-03T20:47:05.653000,0.720,S,0.01,159200.0,2436,0.000332

In [13]:
#查看特定欄列

row_idx = 2

print(f"Phase score in row {row_idx}: {df.loc[row_idx, 'phase_score']}")

Phase score in row 2: 0.387

In [14]:
#用iloc讀取

df.iloc[2]

station_id                               SM39
phase_index                         7480484.0
phase_time         2024-04-03T20:46:45.290000
phase_score                             0.387
phase_type                                  S
dt_s                                     0.01
phase_amplitude                        1967.0
event_index                              2435
gamma_score                           0.00165
Name: 2, dtype: object

In [17]:
# 用特定條件篩選符合的列

df[df['phase_type'] == 'S']

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650
3,SM02,7480366.0,2024-04-03T20:46:45.300000,0.432,S,0.01,693.5,2435,0.002426
4,SM09,7480487.0,2024-04-03T20:46:45.360000,0.673,S,0.01,1459.0,2435,0.001014
5,HOPB,7482565.0,2024-04-03T20:47:05.653000,0.720,S,0.01,159200.0,2436,0.000332
8,CHK,7482730.0,2024-04-03T20:47:07.510000,0.382,S,0.01,142.9,2435,0.007589
10,EWT,7043623.0,2024-04-03T20:47:08.230000,0.757,S,0.01,15450.0,2436,0.001053
11,SM39,7482780.0,2024-04-03T20:47:08.250000,0.787,S,0.01,2759.0,2436,0.000834

In [21]:
# 對於dataframe進行排序

df.sort_values(by='phase_score', ascending=False).head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
6,E077,7482594.0,2024-04-03T20:47:07.460000,0.970,P,0.01,764.0,-1,-1.000000
9,NDS,7482766.0,2024-04-03T20:47:07.660000,0.931,P,0.01,3323.0,2436,0.001014
14,FUSS,7482848.0,2024-04-03T20:47:08.480000,0.902,P,0.01,1866.0,2436,0.000432

- **Create (C)**
    - 用 `loc` 新增欄位
    - 用 `iloc + concat` 插入欄位到指定位置

In [26]:
# 新增欄位

df.loc[df.shape[0]] = ['TEST', 100.0, '2024-04-04', 0.1, 'T', 0.01, 1.0, -2, -1.0] # type: ignore
df[-3:]

20

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
18,B215,7482916.0,2024-04-03T20:47:10.770000,0.525,P,0.01,408.0,-1,-1.0
19,B215,7482961.0,2024-04-03T20:47:10.930000,0.376,P,0.01,676.7,-1,-1.0
20,TEST,100.0,2024-04-04,0.100,T,0.01,1.0,-2,-1.0

In [43]:
# 用iloc + concat插入欄位到指定位置

specific_loc = 3

df_test = df.iloc[:6].copy()

df_first = df_test.iloc[:specific_loc, :].copy()
df_second = df_test.iloc[specific_loc:, :].copy()

insert_df = pd.DataFrame([['TEST', 100.0, '2024-04-04', 0.1, 'T', 0.01, 1.0, -2, -1.0]], columns=df.columns)

pd.concat([df_first, insert_df, df_second], ignore_index=True)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650
3,TEST,100.0,2024-04-04,0.100,T,0.01,1.0,-2,-1.000000
4,SM02,7480366.0,2024-04-03T20:46:45.300000,0.432,S,0.01,693.5,2435,0.002426
5,SM09,7480487.0,2024-04-03T20:46:45.360000,0.673,S,0.01,1459.0,2435,0.001014
6,HOPB,7482565.0,2024-04-03T20:47:05.653000,0.720,S,0.01,159200.0,2436,0.000332

- **Update (U)**
    - 類別轉換 (`astype`)
    - 跨欄位字串合併 (`df["new"] = df["a"] + df["b"]`)
    - 跨欄位數值運算
    - 單欄位彈性 `apply()`
    - 資料 for-loop
    - 橫向合併 `merge`

In [46]:
# 類別轉換
df_test = df.copy()

df_test['float_index'] = df_test['event_index'].astype(float)
df_test.head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score,float_index
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490,2435.0
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891,2435.0
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650,2435.0

In [49]:
# 跨欄位字串合併
df_test = df.copy()

df_test['sta_type'] = df_test['station_id'] + '_' + df_test['phase_type']
df_test.head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score,sta_type
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490,HOPB_P
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891,EGFH_P
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650,SM39_S

In [51]:
# 跨欄位數值運算

df_test = df.copy()
df_test['actual_sec'] = df_test['phase_index'] * df_test['dt_s']
df_test.head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score,actual_sec
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490,74804.38
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891,74804.92
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650,74804.84

In [54]:
# 單欄位彈性 apply()

def check_event(event_index: int)->str:
    if event_index == -1:
        return "Invalid"
    else:
        return "Valid"
    

df_test = df.copy()
df_test['status'] = df_test['event_index'].apply(check_event)
df_test.head(10)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score,status
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.000490,Valid
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435,0.001891,Valid
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435,0.001650,Valid
3,SM02,7480366.0,2024-04-03T20:46:45.300000,0.432,S,0.01,693.5,2435,0.002426,Valid
4,SM09,7480487.0,2024-04-03T20:46:45.360000,0.673,S,0.01,1459.0,2435,0.001014,Valid
5,HOPB,7482565.0,2024-04-03T20:47:05.653000,0.720,S,0.01,159200.0,2436,0.000332,Valid
6,E077,7482594.0,2024-04-03T20:47:07.460000,0.970,P,0.01,764.0,-1,-1.000000,Invalid
7,E077,7482708.0,2024-04-03T20:47:07.480000,0.877,P,0.01,997.8,-1,-1.000000,Invalid
8,CHK,7482730.0,2024-04-03T20:47:07.510000,0.382,S,0.01,142.9,2435,0.007589,Valid
9,NDS,7482766.0,2024-04-03T20:47:07.660000,0.931,P,0.01,3323.0,2436,0.001014,Valid

In [64]:
# 資料 for-loop
print("========= Using Itertuples =========")
for row in df.head(2).itertuples():
    print(row)
print("")
print("========= Using Iterrows =========")
for row in df.head(2).iterrows():
    print(row)

========= Using Itertuples =========
Pandas(Index=0, station_id='HOPB', phase_index=7480438.0, phase_time='2024-04-03T20:46:44.383000', phase_score=0.763, phase_type='P', dt_s=0.01, phase_amplitude=2033.0, event_index=2435, gamma_score=0.0004900670073593)
Pandas(Index=1, station_id='EGFH', phase_index=7480492.0, phase_time='2024-04-03T20:46:44.920000', phase_score=0.788, phase_type='P', dt_s=0.01, phase_amplitude=592.0, event_index=2435, gamma_score=0.0018905498494022)

========= Using Iterrows =========
(0, station_id                               HOPB
phase_index                         7480438.0
phase_time         2024-04-03T20:46:44.383000
phase_score                             0.763
phase_type                                  P
dt_s                                     0.01
phase_amplitude                        2033.0
event_index                              2435
gamma_score                           0.00049
Name: 0, dtype: object)
(1, station_id                               EGFH
phase_index                         7480492.0
phase_time         2024-04-03T20:46:44.920000
phase_score                             0.788
phase_type                                  P
dt_s                                     0.01
phase_amplitude                         592.0
event_index                              2435
gamma_score                          0.001891
Name: 1, dtype: object)

In [68]:
# 合併兩個有共同column的dataframe

df_index = pd.read_csv('/home/patrick/Work/Python3_12_Tutorial/dataset/index.csv')

df_test = df.copy()

df_test.merge(df_index, how='left', on='event_index').head(2)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score,row_index
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.00049,0
1,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435,0.00049,1

- **Delete (D)**
    - `drop` 刪除欄位
    - `drop` 或條件過濾刪除列

In [69]:
# Delete (drop) 特定欄位
df_test = df.copy()

df_test.drop(columns=['gamma_score']).head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index
0,HOPB,7480438.0,2024-04-03T20:46:44.383000,0.763,P,0.01,2033.0,2435
1,EGFH,7480492.0,2024-04-03T20:46:44.920000,0.788,P,0.01,592.0,2435
2,SM39,7480484.0,2024-04-03T20:46:45.290000,0.387,S,0.01,1967.0,2435

In [71]:
# Delete (drop) 特定列
df_test = df.copy()

df_test.drop(index=[0, 1, 2]).head(3)

,station_id,phase_index,phase_time,phase_score,phase_type,dt_s,phase_amplitude,event_index,gamma_score
3,SM02,7480366.0,2024-04-03T20:46:45.300000,0.432,S,0.01,693.5,2435,0.002426
4,SM09,7480487.0,2024-04-03T20:46:45.360000,0.673,S,0.01,1459.0,2435,0.001014
5,HOPB,7482565.0,2024-04-03T20:47:05.653000,0.720,S,0.01,159200.0,2436,0.000332